# Project exclude paths
/.gradle/
/Numeric Matrix Processor/task/build/
/Numeric Matrix Processor/task/out/
/Numeric Matrix Processor/task/out/production/classes/
/Numeric Matrix Processor/task/out/test/classes/
/Problems/Simple expression/out/
/Problems/Simple expression/out/production/classes/